{% extends "base.html" %}
{% block body %}
<div class="container">

  <!-- Main hero unit for a primary marketing message or call to action -->
  <div class="page-header">
    <h1 class="title">Symphony Genius</h1>
    <div class="options">
    <p><a class="btn btn-primary btn-large" >Add Music »</a></p>
  </div>
  </div>

  <!-- Example row of columns -->
    <div class="container" id="Musiclinks">
      <a href="/sheetmusic" class="symphlink">{composer} - {Symphonytitle} </a>
    </div>

  <hr>

  <footer>
    <p>© The Symphony Genius Global Syndicate</p>
  </footer>

</div>
{% endblock %}