{% extends "base.html" %}
{% block body %}
<div class="container">

  <!-- Main hero unit for a primary marketing message or call to action -->
  <div class="page-header">
    <h1 class="title">Symphony Genius</h1>
    <div class="options">
    <p><a class="btn btn-primary btn-large" >Add Music »</a></p>
  </div>
  </div>

  <!-- Example row of columns -->
    <div class="container" id="Musiclinks">
      <!-- The symphony from lilypad gets placed here with the overlay to annotate -->
      <h2> Composer - Title </h2>
      <h4> Transcribed by: User </h4>
      <div id="symphony">
      </div>
    </div>

  <hr>

  <footer>
    <p style="text-align:center">© The Symphony Genius Global Syndicate</p>
  </footer>

</div>
{% endblock %}